@{
    ViewData["Title"] = "Home Page";
}
<div><a href="/home/about">About</a> <a href="/home/privacy">Privacy</a></div>
<div>
    <h1>Home Page</h1>
    <p>This is the default page displayed when the application loads</p>
    <p>Today is <b>@DateTime.Now.ToLongDateString()</b></p>
</div>
<div class="text-center"><p>Let's Try @ViewBag.Message is @ViewBag.LongTime</p></div>
<a href="/home/about">About Page</a>
