@{
    ViewData["Title"] = "Privacy Policy";
}
<div><a href="/home/index" me-3>Home</a> <a href="/home/about" mb-3>About</a></div>

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
